DISCORD_TOKEN=your_bot_token_here
CLIENT_ID=your_application_client_id_here
GUILD_ID=your_guild_id_here
WHISPER_MODEL=large-v3-turbo
WHISPER_AUTO_DOWNLOAD=true
WHISPER_TRANSLATE_TO_ENGLISH=false
WHISPER_WITH_CUDA=false
WHISPER_VERBOSE=false
WHISPER_LANGUAGE_FROM_CHANNEL=true
# WHISPER_LANGUAGE=ja
DEBUG_LOGS=false
REALTIME_TRANSCRIBE=true
REALTIME_SEGMENT_SILENCE_MS=2500
